<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View All Tasks</title>
</head>
<body>
    <h1>All Tasks</h1>
    <ul>
        <% for (let i = 0; i < tasks.length; i++) { %>
            <li>
                <a href="/task/<%= tasks[i].id %>">
                    <%= tasks[i].task %>
                </a>
            </li>
        <% } %>
    </ul>
   
       
</body>
</html>