h1{
    color: black;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    user-select: none;
}
.container{
    display: block;
    margin: auto;
    flex-direction: column;
    height: 28rem;
    width: 20rem;
    border: 1px solid black;
    border-radius: 20px;
    user-select: none;  
    
}
#resultField{
    height: 3.5rem;
    width: 98%;
    text-align: right;
    font-size: 2rem;
    border: 0;
    border-radius: 20px;
    margin-bottom: 12px;
}
#resultField:focus{
    outline: none;
}
.methodsRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.buttonStyle {
    height: 3.6rem;
    width: 3.7rem;
    border: 1px solid black;
    text-align: center;
    font-size: 1.5rem;
    margin: 0.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content horizontally */
}

.buttonStyle:hover {
    background-color: #ddd;
    cursor: pointer;
}
#equals{}